:root {
  --indent: 2em;
  --border: 1px solid #333;
  --radius: 0.25em;
}

:root,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 800px;
  margin: 0 auto;
  font-family: Verdana;

  code {
    display: inline-block;
    background: #eee;
    padding: 0.25em 0.5em;
    border-radius: var(--radius);
  }

  pre {
    display: inline-block;
    background: #eee;
    padding: 0.5em;
    margin-left: var(--indent);
    border: var(--border);
    border-radius: var(--radius);
  }

  file-tree {
    display: inline-block;
    margin-left: var(--indent);
    border: var(--border);
    padding: 0.5em;

    button {
      margin-left: 1em;
      padding: 0 2px;

      & + button {
        margin-left: 0.5em;
      }
    }
  }
}
