:root {
  --indent: 2em;
  --border: 1px solid #333;
  --radius: 0.25em;
}

body {
  width: 800px;
  margin: auto;

  code {
    display: inline-block;
    background: #eee;
    padding: 0.25em 0.5em;
    border-radius: var(--radius);
  }

  pre {
    display: inline-block;
    margin-left: var(--indent);
    border: var(--border);
    border-radius: var(--radius);
  }

  file-tree {
    display: inline-block;
    margin-left: var(--indent);
    border: var(--border);

    button {
      margin-left: 1em;
      & + button {
        margin-left: 0.5em;
      }
      padding: 0 2px;
      opacity: 0.5;
    }
  }
}
