file-tree {
  display: block;

  button {
    min-width: 1.5em;
    padding: 2px 1px;
  }

  /* by default the top level is hidden*/
  &:not([show-top-level]) > dir-entry[path="."] {
    margin: 0 !important;
    padding: 0 !important;
    &:before {
      content: unset;
    }
    & > *:not(dir-entry, file-entry) {
      display: none !important;
    }
    /* but we do need some of the buttons */
    & > button {
      &.add-file {
        margin-left: 0 !important;
      }
      &.add-file,
      &.add-dir,
      &.upload {
        display: inline-block !important;
        margin-bottom: 0.5em;
      }
    }
  }

  dir-entry {
    display: block;

    entry-heading {
      margin-left: 0.25em;
      cursor: pointer;
    }

    &.dragging {
      opacity: 0.2;
    }

    &.drop-target {
      background: #e3fff4;
    }

    &[path] {
      --padding: 1em;
      padding-left: var(--padding);

      /*
        the root dir is a bit special: it shoudl have buttons for
        creating or uploading files, but should not offer buttons
        to rename or delete it:
      */
      &[path="."] {
        height: 100%;
        cursor: auto;

        & > entry-heading {
          cursor: auto;
        }

        &:before {
          cursor: auto;
        }

        & > button {
          display: none;
          &.add-file,
          &.add-dir,
          &.upload {
            display: inline-block;
          }
        }
      }

      &:before {
        content: "📒";
        cursor: pointer;
        margin-left: calc(0px - var(--padding));
      }

      &.closed {
        &:before {
          content: "📕";
        }
        dir-entry,
        file-entry {
          display: none;
        }
      }
    }
  }

  file-entry {
    display: block;
    white-space: nowrap;

    entry-heading {
      cursor: pointer;
    }

    &:before {
      content: "📄";
      cursor: pointer;
      margin-right: 0.25em;
    }

    &.dragging {
      opacity: 0.2;
    }

    &.selected {
      background: #e3f6ff;
      border: 1px solid blue;
      padding-left: 0.25em;
      box-sizing: border-box;
      margin: -1px;
      margin-left: calc(-1px - 0.25em);
    }
  }
}
